<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Git4PL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Git4PL.Properties.Settings>
            <setting name="GitLocalRepository" serializeAs="String">
                <value />
            </setting>
            <setting name="EncodingToSaveType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DiffChangeCor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiffChangeName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiffWorkWithSlash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnexpectedBranch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnexpectedServer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="WebPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="WebPasswordEntropy" serializeAs="String">
                <value />
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DiffAddSchema" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiffCRLF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GetExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreSpaceAtEOL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarnInRegEx" serializeAs="String">
                <value />
            </setting>
            <setting name="WarnOutRegEx" serializeAs="String">
                <value />
            </setting>
            <setting name="BranchesList" serializeAs="String">
                <value>origin/master;origin/regress;origin/develop</value>
            </setting>
            <setting name="BranchSelectedIndex1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BranchSelectedIndex2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GoToLine" serializeAs="String">
                <value>False</value>
            </setting>
        </Git4PL.Properties.Settings>
    </userSettings>
</configuration>